<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sign Up</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
</head>
<body id="signin_body">

  
    
    <!-- ======= Header ======= -->
  <header id="header_signin" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo"><a href="index.html"></a></h1>
      <nav class="nav-menu d-none d-lg-block" id="nav_signin">
        <ul>
          <li class="active"><a href="../maintenance">Home</a></li>
          <li><a href="../maintenance">About us</a></li>
          <li><a href="../maintenance">Gallery</a></li>
          <li><a href="../maintenance">Opportunities</a></li>
          <li><a href="../maintenance">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <div class="header-social-links" id="signin_icon">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->

  <!-- Sign In Div -->
  <div class="signin_div">
      <div class="signin_signup_options">
          <a href="../login" class="signin_left">Sign In</a>
          <a href="" class="signup_right" id="signin_active">Sign Up</a>
      </div>
      <form action="" class="signin_form" method="POST">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="form_submit">Sign In</button>
      </form>
      <p class="signin_signup_alternatives">Already have an account? Head <a href="../login">here</a></p>
  </div>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>

