@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("https://static.wixstatic.com/media/99ec98fdb81945c29c25a3ad6c5606b1.jpg/v1/fill/w_1470,h_887,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/99ec98fdb81945c29c25a3ad6c5606b1.jpg");
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    position: relative;
    max-width: 750px;
    width: 100%;
    border-radius: 15px;
    padding: 14px;
    margin: 0 15px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: rgb(6, 6, 6);
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: rgb(246, 246, 246);
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: rgb(0, 0, 0);
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 30px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}

.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #166d04;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #2be72b;
}