.mockup {
    position: absolute;
    top: -6rem;
    left: 28rem;
    width: 40rem;
    transform: rotateZ(-90deg);
}

body {
    background-image: url("https://static.wixstatic.com/media/99ec98fdb81945c29c25a3ad6c5606b1.jpg/v1/fill/w_1899,h_933,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/99ec98fdb81945c29c25a3ad6c5606b1.jpg");
    background-color: #83BD75;
}

.swiper {
    width: 10rem;
    height: 10rem;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 100%;
    position: absolute;
    top: 18rem;
    background-color: rgba(0, 0, 0, 0);
}

.swiperleft {
    left: 4rem;
}

.swiperright {
    right: 4rem;
}

.swiperlogo {
    width: 10rem;
}

.phonecontent {
    top: 6.5rem;
    position: absolute;
    width: 47rem;
    height: 35rem;
    left: 24.2rem;
    font-family: "Montserrat";
    /* background-color: red; */
}

.profilepic {
    width: 8rem;
    border-radius: 100%;
    position: absolute;
    margin: 1rem;
    border: 4px solid black;
    left: 1.5rem;
}

.jobpic {
    width: 8rem;
    border-radius: 100%;
    margin: 1rem;
    border: 4px solid black;
}

.basicinfoleft {
    position: absolute;
    left: 13rem;
    top: 2rem;
    text-align: left;
}

.basicinforight {
    position: absolute;
    right: 5rem;
    top: 2rem;
    text-align: left;
}

.allinfo {
    position: absolute;
    top: 10rem;
    left: 3rem;
    text-align: left;
}

.custom {
    background-color: rgba(235, 226, 226, 0.7);
}